<style>
  /* new arrive */
  #newarrive_area{
    width: 100%;
    height: 1800px;
    background-color: aqua;
    text-align: center;
  }
  #newarrive_area_fill{
    margin: 40px 50px;
    height: 90%;
    background-color: aliceblue;
  }
  #newarrive_area_row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 20%;
    margin: 20px 0;
    background-color: blue;
  }
  #newarrive_small{
    width: 49%;
    height: 100%;
    background-color: black;
  }
  #newarrive_area_big{
    margin: 20px 0;
    height: 40%;
    background-color: black;
  }
</style>
    <!-- new arrive -->
    <div id="newarrive_area">
        <h2>New Arrive</h2>
        <div id="newarrive_area_fill">
          <div id="newarrive_area_row">
            <div id="newarrive_small"></div>
            <div id="newarrive_small"></div>
          </div>
          <div id="newarrive_area_row">
            <div id="newarrive_small"></div>
            <div id="newarrive_small"></div>
          </div>
          <div id="newarrive_area_row">
            <div id="newarrive_small"></div>
            <div id="newarrive_small"></div>
          </div>

          <div id="newarrive_area_big"></div>
        </div>
      </div>

