<style>
    /* recomend */
    #recommend_area{
        padding-top: 60px;
        width: 100%;
        height: 650px;
    }
    #recommend_area_fill{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #recommend_area_box_1{
        padding: auto;
        width: 100%;
        height: 650px;
        background-color: antiquewhite;
    }
    #recommend_area_box_234{
        height: 650px;
        width: 100%;
    }
    #recommend_area_box_2{
        width: 100%;
        height: 50%;
        background-color: bisque;
    }
    #recommend_area_box_34{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    #recommend_area_box_3{
        width: 50%;
        height: 50%;
        background-color: burlywood;
    }
    #recommend_area_box_4{
        width: 50%;
        height: 50%;
        background-color:azure;
    }
    #newarrive_area{
        margin-top: 50px;
    }
    #newarrive_area h2{
        text-align: center;
    }
    .r_parent{
        position: relative;
    }
    .r_parent p{
        position:absolute;
        bottom: 0;
        padding: 0 20px;
    }
</style>
  <!-- top-post -->
  <div id="recommend_area">
    <div id="recommend_area_fill">
      <div class="r_parent"id="recommend_area_box_1">
        <p>記事</p>
      </div>
      <div id="recommend_area_box_234">
        <div class="r_parent"id="recommend_area_box_2">
          <p>記事</p>
        </div>
        <div id="recommend_area_box_34">
          <div class="r_parent"id="recommend_area_box_3">
            <p>記事</p>
          </div>
          <div class="r_parent"id="recommend_area_box_4">
            <p>記事</p>
          </div>
        </div>
      </div>
    </div>
  </div>

