<style>

  #genrepost_area{
    height: 2600px;
    background-color: rgb(165, 165, 165);
    text-align: center;
    padding: 60px 300px 20px 300px;
  }
  .genre_contents_fill{
    margin: 40px 50px;
    height: 700px;
    background-color: aliceblue;
  }
  .genre_content_big{
    height: 50%;
    background-color: black;
  }
  .genre_contents_small{
    height: 48%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .genre_content_small{
    width: 49%;
    background-color: black;
  }
</style>

  <!-- Genre post -->
  <div id="genrepost_area">
    <h2>GENRE</h2>
    <div class="genre_contents">
      <h1>TITLE</h1>
      <div class="genre_contents_fill">
        <div class="genre_content_big"></div>
        <div class="genre_contents_small">
          <div class="genre_content_small"></div>
          <div class="genre_content_small"></div>
        </div>
      </div>
    </div>


    <div class="genre_contents">
        <h1>TITLE</h1>
        <div class="genre_contents_fill">
          <div class="genre_content_big"></div>
          <div class="genre_contents_small">
            <div class="genre_content_small"></div>
            <div class="genre_content_small"></div>
          </div>
        </div>
      </div>


    <div class="genre_contents">
        <h1>TITLE</h1>
        <div class="genre_contents_fill">
          <div class="genre_content_big"></div>
          <div class="genre_contents_small">
            <div class="genre_content_small"></div>
            <div class="genre_content_small"></div>
          </div>
        </div>
      </div>
  </div>
